@import url('./theme.css');
@import url('./button.css');
@import url('./textedit.css');
@import url('./notification.css');
@import url('./modal.css');
@import url('./utility.css');
@import url('./table.css');
@import url('./tabs.css');
@import url('./checkbox.css');
@import url('./misc.css');
@import url('./generic.css');

:root, body, #root, #app {
    background: var(--background);
    color: var(--foreground);

    font: var(--font-m);

    box-sizing: border-box;
    padding: 0;
    margin: 0;

    width: 100vw;
    height: 100vh;

    max-width: 100vw;
    max-height: 100vh;

    overscroll-behavior: contain;

    position: relative;
}

#app {
    display: grid;

    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(1fr, auto) 1fr auto;

    padding: var(--spacing-s);
    grid-gap: var(--spacing-s);

    grid-template-areas:
        "header header header"
        "main   main   main"
        "status status status";
}

#app > #header { grid-area: header; }
#app > #main { grid-area: main; }
#app > #status { grid-area: status; }

#main {
    display: grid;

    grid-template-rows: subgrid;
    grid-template-columns: subgrid;

    grid-template-areas:
        "job-queue job-queue job-queue";

    border-bottom: var(--border-dull);
}

#status {
    display: grid;

    grid-template-rows: subgrid;
    grid-template-columns: auto 1fr auto;

    grid-template-areas:
        "left centre right";

    align-items: center;

    padding: 0 var(--spacing-xxs);
}

#status-left { grid-area: left; }
#status-centre { grid-area: centre; }
#status-right { grid-area: right; }

#status-left, #status-centre, #status-right {
    display: flex;
    justify-content: center;
}

#queue .job-queue-item:is(:focus, :hover) {
    cursor: pointer;

    box-sizing: content-box;
    overflow: visible;

    outline: var(--border-accent);
    border-radius: var(--radius-s);
}