:is(dialog, div[popover], ul[popover]) {
    position: fixed;

    padding: var(--spacing-m);

    min-width: var(--element-s);
    max-height: 90vh;

    overflow: auto;

    background: var(--background);
    /*--background: var(--background-02);*/

    border-radius: var(--radius-l);
    box-shadow: var(--shadow-l);

    border: var(--border-dull);
    border-color: var(--background-02);
    color: var(--foreground-secondary);

    font-size: var(--font-size-s);
}

:is(dialog, div[popover], ul[popover]) > button.close-btn {
    position: absolute;

    width: var(--spacing-xl);
    height: var(--spacing-xl);

    color: var(--foreground-secondary);

    top: var(--spacing-m);
    right: var(--spacing-m);
}

ul[popover].context-menu {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-auto-rows: auto;

    min-width: var(--element-xs);

    border-radius: var(--radius-s);

    grid-column-gap: var(--spacing-xs);
}

ul[popover].context-menu li:is(.context-menu-item, .context-menu-separator, .context-menu-header) {
    list-style-type: none;
    grid-column: 1 / -1;

    padding: var(--spacing-xxs) var(--spacing-s);
}

ul[popover].context-menu li.context-menu-item {
    display: grid;

    grid-template-columns: subgrid;
    grid-template-areas: 'left label right';
    align-items: center;

    box-sizing: border-box;

    border-radius: var(--radius-s);
    border: var(--border-dull);
    border-color: transparent;
}

ul[popover].context-menu li.context-menu-item .context-menu-item-label {
    text-align: left;
}

ul[popover].context-menu li.context-menu-item:hover {
    border: var(--border-dull);
    background: var(--background-dull);
}

ul[popover].context-menu li.context-menu-item .left {
    grid-area: left;
}

ul[popover].context-menu li.context-menu-item .right {
    grid-area: right;
}

ul[popover].context-menu li.context-menu-separator hr {
    border: none;
    border-top: var(--border-dull);
}

ul[popover].context-menu li.context-menu-header h6 {
    font-weight: bold;
    font: var(--font-heading-s);
    font-size: var(--font-size-s);
    margin: 0;
    margin-block: var(--spacing-s);
    padding: 0;
    text-align: center;
}