localhost {
    handle_path /local/* {
        reverse_proxy unix//var/run/docker.sock

        header Access-Control-Allow-Origin "*"
        header Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE"
        header Access-Control-Allow-Headers "Content-Type"
        header Access-Control-Max-Age "3600"
    }

    handle {
        root * /var/www/html

        try_files {path} /

        file_server
    }

    tls internal

    @http3 {
        protocol h3
    }
}